<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 Include the above in your HEAD tag

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block"></span>
                <div class="mb-4 lead" style="color: rgb(231, 33, 19);">Wrong Username or Wrong Password</div>
                 <a  class="forgot" (click)="moveToRegister()"  class="btn btn-link" style="color: rgb(114, 77, 35);">Create An account</a>
                <a class="forgot" (click)="moveToLogin()"  class="btn btn-link" style="color: rgb(114, 77, 35);">Login</a>
                <a class="forgot" (click)="moveToHome()"  class="btn btn-link" style="color: rgb(114, 77, 35);">Back To Home</a>
            </div>
        </div>
    </div>
</div> -->


<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="mb-4 lead" style="color: rgb(231, 33, 19);">Wrong Username or Wrong Password</div>
<a  class="forgot" (click)="moveToRegister()"  class="btn btn-link" style="color: rgb(114, 77, 35);"><h4>Create An account</h4></a>
<a class="forgot" (click)="moveToLogin()"  class="btn btn-link" style="color: rgb(114, 77, 35);"><h4>Login</h4></a>
<a class="forgot" (click)="moveToHome()"  class="btn btn-link" style="color: rgb(114, 77, 35);"><h4>Back To Home</h4></a>
<div></div>
<svg viewBox="0 0 1800 600">
  <symbol id="s-text">
      
    <text text-anchor="middle"
          x="50%"
          y="35%"
          class="wrongUSERNAMEorPASSWORD"
          >
     Wrong Username Or 
    </text>
    <text text-anchor="middle"
          x="50%"
          y="68%"
          class="text--line"
          >
     Wrong Password!!!!
    </text>
    
    
  </symbol>
  
  <g class="g-ants">
    <use xlink:href="#s-text"
      class="wrongUSERNAMEorPASSWORD-1"></use>     
    <use xlink:href="#s-text"
      class="wrongUSERNAMEorPASSWORD-1"></use>     
    <use xlink:href="#s-text"
      class="wrongUSERNAMEorPASSWORD-1"></use>     
    <use xlink:href="#s-text"
      class="wrongUSERNAMEorPASSWORD-1"></use>     
    <use xlink:href="#s-text"
      class="wrongUSERNAMEorPASSWORD-1"></use>     
  </g>

  
  
</svg> -->

<div class='container'>
  <div class='bk'>
    <div class='mid'>
      
      <div class='fore'>
        
        <div class='figure'></div>
        <div class="mb-4 lead" style="color: rgb(231, 33, 19);">Wrong Username or Wrong Password</div>
        <a  class="forgot" (click)="moveToRegister()"  class="btn btn-link" style="color: rgb(114, 77, 35); "text-center><h4>Create An account</h4></a>
        <a class="forgot" (click)="moveToLogin()"  class="btn btn-link" style="color: rgb(114, 77, 35);"><h4>Login</h4></a>
        <a class="forgot" (click)="moveToHome()"  class="btn btn-link" style="color: rgb(114, 77, 35);"><h4>Back To Home</h4></a>
        <div></div>
        
      </div>
    </div>
  </div>
</div>

